cffi==1.5.0
cryptography==1.2.3
dnspython==1.15.0
enum34==1.1.2
future==0.15.2
idna==2.0
ipaddress==1.0.16
ndg-httpsclient==0.4.0
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==0.15.1
requests==2.9.1
six==1.10.0
tld==0.7.6
wheel==0.38.1
