cffi==1.14.0
cryptography==2.9
dnspython==1.16.0
enum34==1.1.10
future==0.18.2
idna==2.9
ipaddress==1.0.23
ndg-httpsclient==0.5.1
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==19.1.0
requests==2.23.0
six==1.14.0
tld==0.11.11
wheel==0.34.2
