cffi==1.13.0
cryptography==2.7
dnspython==1.16.0
enum34==1.1.6
future==0.18.0
idna==2.8
ipaddress==1.0.22
ndg-httpsclient==0.5.1
pyasn1==0.4.7
pycparser==2.19
pyOpenSSL==19.0.0
requests==2.22.0
six==1.12.0
tld==0.9.6
wheel==0.33.6
